filebeat.inputs:
- type: log
  paths:
    - /home/hadoop/apps/mod_twd_web_tss_twdServer11.log.*

output.kafka:
  hosts: ["{{ hostvars['server2'].ansible_ssh_host }}:9092"]
  topic: 'msa-test'
  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000
  codec.format:
    string: '%{[message]}'

xpack.monitoring:
  enabled: true
  elasticsearch:
    hosts: ["{{ hostvars['server1'].ansible_ssh_host }}:9200"]
    username: beats_system
    password: somepassword
